<p align="center">
  <img align="center" src="https://github-readme-stats.vercel.app/api/top-langs/?username=craigdoescode">
</p>
<h1 align='center'>
    Hi, I'm {{name}} :wave: happy {{date}}!
</h1>
<p align="center">
  {{#stack}}
    <img src="images/{{icon}}" alt="{{name}}" width="50" height="50" />
  {{/stack}}
</p>

<p align="center">
  I am a software engineer with nearly two years of professional experience, specializing in Educational Technology and Artificial Intelligence. My career in tech has been driven by a commitment to leveraging digital tools for enhancing learning experiences and delivering tangible business value.
</p>
<p align="center">
  <a href="https://www.linkedin.com/in/craig-norford-9a33838a/">
    <img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?style=for-the-badge&logo=linkedin&logoColor=white"/>
  </a>
</p>
<p align="center">
  <img src="https://github-readme-stats.vercel.app/api?username=craigdoescode" alt="Craig's GitHub stats">
</p>
